*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.b-page {
	width: 100%;
	background-color: #ffffff;
	font-family: Arial, Helvetica;
	font-size: 12px;
}
.b-page__portal {
	max-width: 237px;
	max-height: 700px;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
}
.b-page__portal:hover {
	overflow-y: auto;
    overflow-style: overlay;
    width: max-content;
}
ul {
	list-style: none;
}
.b-сategory-menu__item_title {
	margin-bottom: 3px;
	display: block;
}
li {
	margin-bottom: 5px;
	zoom: 1;
	padding-left: 10px;
	cursor: pointer;
	position: relative;
}
.sub-menu-first-level li {
	margin-bottom: 0px;
	zoom: 1;
	padding: 0 4px 2px 14px;
}
.first_item-toggle {
	margin-top: 2px;
}
.plus {
	width: 9px;
	height: 9px;
	background: url('../img/plus_1.png') no-repeat -1px -1px;
	border: 1px solid #3e77aa;
	float: left;
	position: relative;
	top: 6px;
	left: 13px;
}
.plus:hover {
	width: 9px;
	height: 9px;
	background: url('../img/plus_red_1.png') no-repeat -1px -1px;
	border: 1px solid #ff3543;
}
a {
	text-decoration: none;
	color: #3e77aa;
}
a:hover {
	color: #ff3543;
}
a:active {
	color: #4c9cec;
}
.b-link {
	display: block;
	padding: 5px 10px;
	margin-left: 20px;
}
.b-link_category-menu_active {
	margin-left: 22px;
	margin-bottom: 4px;
}
.active {
	color: #000;
	font-weight: bold;
}
.number-goods {	
	color: #cfcfcf;
	margin-left: 3px;
}
.circle {
	border: 1px solid;
    border-radius: 50%;
    padding: 0px 3px;
    font-size: 10px;
} 
.plus:active {	
	width: 9px;
	height: 9px;
	background: url('../img/minus_1.png') no-repeat -1px -1px;
	border: 1px solid #3e77aa;
}
.minus {
	width: 9px;
	height: 9px;
	background: url('../img/minus_1.png') no-repeat -1px -1px;
	border: 1px solid #3e77aa;
}
.minus:hover {
	width: 9px;
	height: 9px;
	background: url('../img/minus_red_1.png') no-repeat -1px -1px;
	border: 1px solid #ff3543;
}
.prev {
	width: 5px;
	height: 10px;
	background: url('../img/spritesheet.png') no-repeat -25px -5px;
	border: none;
	position: absolute;
    top: 7px;
    left: 30px;
}
.sub-menu-second-level,
.sub-menu-third-level {
	display: none;
}

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-thumb{
    border-width: 1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width: 0;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}